* {
    font-family: 'Kanit', sans-serif;
}

.bg-session {
    background-color: #3c77b2 !important;
}

.bg-body-tertiary {
    background-color: #f8f9fa !important;
}

.navbar {
    background-color: #ffffff !important;
}

.navbar-brand {
    font-size: 1.5rem;
}

.nav-bg, .nav-bg-blue {
    background-color: #3c77b2 !important;
}

.nav-item {
    margin: 0 1px;
}

.nav-item:hover {
    border-bottom: 2px solid #ffffff;
}

.text-section {
    border-left: 10px solid #3c77b2;
    border-radius: 12PX;
    padding-left: 10px;
    font-size: 60px;
}

.card img {
    height: 200px;
    object-fit: cover;
}
