@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

#preloader {
    background: #ffffff url(../img/Preload2.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    opacity: 1;
    transition: opacity 1s ease-out;
}

body {
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
}

.table thead {
    background-color: #8f8f8f;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
}
